*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
}

nav .navbar-light .navbar-nav .nav-link{
    color: black;
}

nav.navbar-light .navbar-nav .nav-link.active{
    font-weight: 700;
}

.img-product{
    min-height: 210px; 
    max-height: 210px; 
    width:100%; 
    object-fit: contain;
}
.rd-none{
    display: none;
}
.producto-variable, .producto-variable td, .producto-variable th{
    border: 1px solid #CED4DA;
    border-collapse: collapse;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #CED4DA;
}
/**
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/**
fondo de colores
*/
.bg-primary{
   background-color: #E20A1A !important; 
}
.bg-blue{
    background-color: #3D709C;
}
.bg-blue-dark{
    background-color: #052B48;
}
/*
    Tipo de letra
*/


/* width */

/**
Colores
*/

.text-primary{
    color: #E20A1A !important;
}

.text-blue-dark, .text-blue-dark:hover{
    color: #052B48;
}

.text-blue{
    color: #3D709C;
}

.input-search::placeholder, .input-search{
    color:white;
}
.btn-danger{
    background-color: #E20A1A !important;
}
.btn-success{
    color: #fff;
    background-color: #146c43 !important;
    border-color: #13653f !important;
}
.btn-warning{
    color: #fff;
    background-color: #ffcd39 !important;
    border-color: #ffc720;
}
.btn-outline-danger{
    color: #E20A1A;
    border-color:#E20A1A !important;
}
.btn-outline-danger:hover{
    border-color:#E20A1A !important; 
    background-color: #E20A1A !important;
}
/**

Tamaños de letra
*/
.font-size-26{
    font-size: 26px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-23{
    font-size: 23px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-21{
    font-size: 21px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-14{
    font-size: 14px;
}

.font-size-13{
    font-size: 13px !important;
}

.font-size-12{
    font-size: 12px;
}

.font-size-11{
    font-size: 11px;
}

.header i{
    color: #E20A1A;
}

.header *, .header a:hover,
.header a:focus
.header a:active{
    color: #333333;
    text-decoration: none;
}
.header input {
    display: none;
}
.header form:hover input{
    display: block;
}
.header form:hover button, .header form:hover i{ 
    color: white;
    background-color: #E20A1A;;
}
input::placeholder,
input,
textarea,
textarea::placeholder{
    font-size: 12px;
    color: #1D1D1A;
}
.breadcrumb{
    margin-bottom: 0;
}
.breadcrumb a, .breadcrumb *{
    color: #333333 !important;
}
.newsletter .form-control:focus,
.newsletter .form-control:active
.newsletter .form-control:hover{
    box-shadow: none;
    border-color: none;

}
.form-pre-header input, .form-pre-header input:focus {
    color: white;
}
.form-control:focus {
    border: 1px solid #ced4da;
    outline: none;
    box-shadow: none;
}

.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.categoria-producto a:hover,
.categoria-producto a:focus,
.categoria-producto a:active{
    color: white;
}
.table-servicios td{
    border: 1px solid white;
}
td.claro{
    top: 542px;
    left: 958px;
    width: 51px;
    height: 14px;
    background: var(--unnamed-color-0c5fab) 0% 0% no-repeat padding-box;
    background: #0C5FAB 0% 0% no-repeat padding-box;
    opacity: 0.3;
}
td.oscuro{
    top: 570px;
    left: 1057px;
    width: 49px;
    height: 14px;
    background: var(--unnamed-color-0c5fab) 0% 0% no-repeat padding-box;
    background: #0C5FAB 0% 0% no-repeat padding-box;
    opacity: 1;
}
.calcular-servicio{
    background-color: #f5fafd;
}
.calcular-servicio input,
.calcular-servicio input:focus,
.calcular-servicio input:active,
.calcular-servicio input:hover{
    background-color: #fafcfe;
    height: 37px;
}
/*
input:focus,
input:active{
    border: none !important;
    box-shadow: none !important;
}
*/
#heroProducto p{
    font-size: 20px;
    line-height: 30px;
}
.underline{
    text-decoration: none !important;
}

.card{
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 3px 6px #00000029;
    min-height: 300px;
    max-height: 300px;
}
.underline:hover{
    text-decoration: underline !important;
}
.card img{
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.producto .mas{
    width: 100%;
    height: 100%;
    background-color: #80808021;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
.producto .position-relative:hover .mas.position-absolute{
    display: flex;
}
.producto .mas img{
    border:none;
}
.producto p a:hover{
    color: #1D1D1A;
}
.contenedor-breadcrumb{
    background-color: #f6fbfe;
}

aside > ul > li{
    border-top: 5px solid #80808021;
}
aside > ul > li > a{
    font-weight: 700;
}

aside li a{
    color: #1D1D1A;
}

aside li a:hover{
    color: #1D1D1A;
}

.color-producto{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
td{
    vertical-align: middle;
}

.contenido-color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;   
}
.eliminar-item-presupuesto{
    padding: 0px 5px;
    background-color: gray;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    font-size: 10px;    
}
.rboder{
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
    border: 2px solid #E20A1A;  
}
.carousel-indicators{
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    left: 0;
    right: 0;
    margin: auto;
}
.carousel-control-next-icon {
    background-image: url('./../images/derecha.svg');
}
.carousel-control-prev-icon {
    background-image: url('./../images/izquierda.svg');
}
@media (min-width: 50px){
    .w-sm-100{
        width: 100%;
    }
    .categoria-producto{
        bottom: 0; 
    }
    .contenedor-color{
        width: 100%;
        height: 94px;
    }

    #hilos-libertad h5{
        font-size: 1.25rem;
    }
    #sliderHeroEmpresa .carousel-indicators {
        left: 0;
        right: 0;
        bottom: 0;
    }
}


@media (min-width: 720px){
    .categoria-producto{
        bottom: 120px;
    }
    .w-md-50{
        width: 50%;
    }
    .rcard{
        max-width:200px; 
        min-width:200px
    }

    .contenedor-color{
        width: 30%;
    }

    .contenedor{
        max-width: 200px;
        min-width: 200px;
        min-height: 100px;
        max-height: 100px;
    }

    #hilos-libertad h5{
        font-size: 30px;
    }

    #sliderHeroEmpresa .carousel-indicators{
        bottom: 10px;
    }
    .w-md-48{
        width: 48% !important;
    }
}

@media (min-width: 992px){
    nav .nav-item{
        width: 14.30%;
    }
    nav .nav-item a{
        display: inline-block;
    }
    #sliderHero, #sliderHero img{
        min-height: 400px;
        max-height: 400px;
    }
    nav.navbar-light .navbar-nav .nav-link{
        font-size: 90%;
    }

    .rMenu{
        position: relative;
        bottom: 40px;
    }

    .categoria-producto .container{
        max-width: 980px;
        
    }

    .contenedor-color{
        width: 18%;
    }

    nav.navbar-light .navbar-nav .nav-link.active::after, .title {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -8px;
        height: 5px;
        background-color: #3D709C;
        width: 40px;
        margin: auto;
    }

    #sliderHero .carousel-caption{
        max-width: 30%;
    }
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1270px;
    }
}

@media (max-width: 768px){
    nav ul li form button {
        background-color: #E20A1A !important;
        color: white !important;
        padding: 0.5rem !important;
    }

    #heroProducto h2{
        font-size: 19px;
    }

    .logo-header{
        max-width: 100px;
    }

    .ancho-boton{
        width: 100%;
    }

    #heroProducto p{
        font-size: 15px;
    }
    .rcard{
        max-width:50%; 
        min-width:50%;
    }
}

@media (max-width: 500px){
    .logo-header{
        max-width: 80px;
    }

    .rcard{
        max-width:100%; 
        min-width:100%;
    }
}
